<h2>Olá {{ name }}</h2>

<p>
  Parece que você solicitou uma recuperação da sua senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
  <a href="#">Recuperar a senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, descarte o e-mail.
</p>
